/* footer */

.footer-content {
  background-color: #f5f5f5;
  padding-top: 2.625rem;
}

.footer-content .container .wrapper {
  width: 100%;
  justify-content: space-between;
}

.footer-content .container .wrapper {
  display: block;
}

.footer-content__nav {
  padding-bottom: 6.25rem;
}

.nav__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.625rem;
}

.nav__logo-footer {
  font-size: 2.25rem;
}

.wrapper__year {
  padding-left: 2.375rem;
}

.wrapper__text {
  display: flex;
  display: inline-block;
  flex-direction: column;
  padding-left: 2.375rem;
}
.wrapper {
  display: flex;
}
.nav__elements--footer {
  padding-top: 0.4rem;
}

.wrapper__additional--footer {
  padding-bottom: 3.625rem;
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .footer-content__nav {
    padding-bottom: 3rem;
  }
}
