@import url("navigation.css");
@import url("header-main.css");

.main-screen {
  background: url(../img/fon.png) no-repeat;
  background-position: 50% 0;
  background-size: cover;
  padding-bottom: 10.8rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  height: 720px;
}
