.nav {
  z-index: 999;
  padding-top: 14px;
  display: flex;
  font-family: "Roboto Condensed";
  font-weight: bold;
  justify-content: space-between;
  margin-bottom: 20px;
}

.nav__elements {
  display: flex;
  /* align-items: center; */
  padding-top: 12px;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__logo {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  text-transform: uppercase;
}

.nav__additional {
  z-index: 998;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 93px;
}

.nav__elem {
  margin-right: 70px;
  align-items: center;
}

.nav__elem:last-child {
  margin-right: 0;
}

.number {
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto";
  margin-bottom: 8px;
}

.mail {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
  padding-left: 45px;
}

.addres {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
}

.nav__img {
  margin-right: 15px;
}

.btn {
  font-weight: 700;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto Condensed";
  z-index: 997;
}

.small-btn {
  background: url(../img/main/rectangle.svg);
  width: 178px;
  height: 40px;
  font-size: 18px;
}

.big-btn {
  background: url(../img/main/rectangle2.svg);
  width: 271px;
  height: 60px;
  font-size: 24px;
  margin-bottom: 166px;
  z-index: 996;
}

/* main */

.main {
  position: relative;
}

.main__text {
  font-size: 54px;
  font-weight: 700;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
  padding-left: 170px;
}

.main__img {
  margin-bottom: 22px;
  margin-top: -15px;
}

.main__subtitle {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 27px;
}

/* maint decoration */

.main__girl {
  position: absolute;
  left: 11%;
  bottom: 0;
  z-index: -1;
}

/* .title__target {
  position: absolute;

  left: 61%;
  top: -55%;
}

.title__rings {
  position: absolute;
  left: -5%;
  top: -73%;
  z-index: -10;
} */
