/* self-entry */

.title {
  font-size: 32px;
  font-weight: 700;
  font-family: "Roboto";
}

.self-entry {
  max-width: 1210px;
}

.self-entry__title {
  margin-bottom: 80px;
  padding-left: 20px;
}

.self-entry__wrapper {
  display: flex;
}

.self-entry__bookmark {
  background: url(./img/self-entry/bookmark.svg);
  font-size: 18px;
  font-weight: 700;
  border: none;
  color: #fff;
  font-family: "Roboto";
  width: 202px;
  height: 40px;
  margin-right: 283px;
}

.big-bookmark {
  background: url(./img/self-entry/big-bookmark.svg);
  font-size: 18px;
  font-weight: 700;
  border: none;
  color: #fff;
  font-family: "Roboto";
  width: 378px;
  height: 40px;
  margin-bottom: 43px;
}

.self-entry__left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-right: 0;
  width: 50%;
  border-right: 1px solid #000;
}

.self-entry__right {
  padding-left: 62px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.self-entry__list {
  width: 357px;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";

  margin-top: 47px;
  margin-right: 104px;
  margin-bottom: 18px;

  list-style: none;
  padding: 0;
}

.self-entry__li {
  margin-bottom: 38px;
  position: relative;
  padding-left: 10px;
}

.self-entry__li::before {
  content: url(./img/self-entry/point.svg);
  position: absolute;
  left: -24px;
}

.self-entry__span {
  font-weight: 700;
}

.self-entry__img {
  max-width: 517px;
  margin-bottom: 92px;
}

.self-entry__targets {
  max-width: 535px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;

  margin-bottom: 108px;
}

.self-entry__target {
  padding-right: 12px;
}

.self-entry__item {
  width: 244px;
  display: flex;
  align-items: center;
  margin-bottom: 63px;
  margin-right: 28px;

  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto";
}

.self-entry__item:nth-child(2n) {
  margin-right: 0;
}
.self-entry__item:last-child {
  margin-bottom: 0;
}

.self-entry__tagline {
  display: flex;
  align-items: center;
  max-width: 474px;
  margin-bottom: 60px;
}

.self-entry__text {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto";
  padding-bottom: 20px;
}

.self-entry__laptop {
  padding-right: 19px;
}

.self-entry__btn {
  background: url(./img/self-entry/rectangle.svg);
  border: none;
  cursor: pointer;
  color: #fff;
  width: 345px;
  height: 60px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto Condensed";
}

/* purpule-wrapper */

.purpule-wrapper {
  background-color: #7224ea;
}

.purpule-wrapper__title {
  color: #fff;
  padding-top: 47px;
  padding-bottom: 48px;
}

.content {
  max-width: 1162px;
  margin: 0 auto;
  padding-bottom: 70px;
}

.purpule-wrapper__list {
  display: flex;
  justify-content: space-between;
  max-width: 1091px;
}

.purpule-wrapper__item {
  display: flex;
  align-items: center;
  width: 447px;
}

.purpule-wrapper__border {
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 20px;
}

.purpule-wrapper__img {
  padding: 25px;
  font-family: "Roboto";
}

.purpule-wrapper__text {
  color: #fff;
}

.purpule-wrapper__suptitle {
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto";
  margin-bottom: 13px;
}

.purpule-wrapper__subtitle {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto";
}