.starting {
  padding: 3.0625rem 0px 0px 0px;
  background-color: #651fff;
}

.starting h2 {
  margin-bottom: 60px;
}
.starters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.375rem;
}

.starters__item {
  display: flex;
  gap: 1.1875rem;
  align-items: center;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 62px;
  max-width: 62px;
  min-height: 62px;
  background: url(../img/starting/circle.svg);
  font-family: "Roboto Condensed";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .arrow {
    display: none;
  }
  .starters__item {
    padding-left: 2rem;
    margin-top: 2.7143rem;
    width: 100%;
  }
}
@media screen and (max-width: 481px) {
  .starting {
    padding-left: 0;
    padding-bottom: 2.5rem;
  }
  .starters {
    margin-top: 3.0833rem;
    padding-left: 1rem;
  }
}
